.input-group {
  position: relative;

  display: flex;
  flex-direction: column;

  &__message {
    margin: 0;

    position: absolute;
    bottom: -25px;
    left: 0;

    color: #ff0000;
  }

  &__label {
    margin: 0 0 5px 0;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #ffffff;
  }

  &__input {
    padding: 15px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #323232;

    border-radius: 5px;
    background: #f9f8f6;
    border: 1px solid transparent;

    .error & {
      border-color: #ff0000;
    }

    &:focus {
      outline: none;
      border: 1px solid #01b2d4;
    }
  }
}
