@import "../../styles/variables";
@import "../../styles/mixins";

.email-widget {
  position: relative;

  padding: 5px 15px 5px 5px;

  display: flex;
  align-items: center;

  border-radius: 45px;
  background: rgba(79, 68, 66, 0.2);

  @include max-media($md) {
    padding: 5px;
  }

  &__logo {
    min-width: 30px;
    height: 30px;
    margin: 0 15px 0 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: #fff;

    @include max-media($md) {
      margin: 0;
    }
  }

  &__img,
  &__placeholder {
    display: flex;

    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__placeholder {
    width: 10px;
    height: 10px;
  }

  &__text {
    margin: 0;

    max-width: 150px;

    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    line-height: 20px;
    font-style: normal;

    @include max-media($md) {
      display: none;
    }
  }

  &__wrap {
    padding: 0;
    width: 100%;
    min-width: fit-content;

    right: 0;
    top: 100%;
    position: absolute;

    @include max-media($md) {
      min-width: max-content;
    }

    &.opened {
      padding: 10px 0 0;
    }
  }

  &__menu {
    display: none;
    border-radius: 5px;
    background: rgba(79, 68, 66, 0.2);

    .opened & {
      display: block;
    }
  }

  &__list {
    margin: 0;
    list-style: none;
    padding: 10px 20px;

    &-item + &-item {
      margin: 10px 0 0;
      padding: 10px 0 0;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
    }

    &-item {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      font-style: normal;
      color: rgba(255, 255, 255, 0.6);

      text-align: left;
      text-transform: uppercase;

      cursor: pointer;

      &:hover {
        color: #ffffff;
      }
    }
  }
}
