.lang-drop {
  margin: 0 25px 0 0;
  width: fit-content;

  position: relative;

  &__lang {
    position: relative;

    width: 60px;
    padding: 10px 15px;
    display: inline-block;

    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    line-height: 20px;
    font-style: normal;
    font-family: "Inter";

    text-transform: uppercase;

    &:before {
      content: "";

      top: 17px;
      right: 10px;
      position: absolute;

      display: inline-block;

      border-style: solid;
      border-width: 4px 4px 0 4px;
      border-color: #fff transparent transparent transparent;
    }
  }

  &__menu {
    position: absolute;

    margin: 0;
    padding: 10px;
    width: fit-content;

    list-style: none;

    border-radius: 5px;
    background: rgba(79, 68, 66, 0.2);

    z-index: 10;
  }

  &__item {
    padding: 0 10px;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;

    text-align: center;
    text-transform: uppercase;

    color: #ffffff99;

    text-transform: uppercase;

    cursor: pointer;

    &.active {
      color: #ffffff;
    }
  }

  &__item + &__item {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}
