//$colors = {
//  $darkGrey: '#323232';
//}

$mobile-resolution-threshold: 767px; // TODO: find a way how to keep that in sync with Constants.js
$main-container-max-width: 1440px;

$akb-breakpoints: (
        desktop: $mobile-resolution-threshold
) !default;

$dark-yellow: #F8F8F8;
$red: #FF0000;
$light-blue: #01B2D4;
$white: #FFFFFF;
