.ContentArea {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

.ResultContentOverview {
    margin-left: 30px;
    border-color: black;
    width: 25%;
}

.ResultContent {
    margin-right: 50px;
    margin-left: 30px;
    width: 100%;
}