@import "../styles/variables";
@import "../styles/mixins";

.anal {
  background-size: cover;
  background-color: #d7b267;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.06);
  background-image: url("../images/analBg.png");

  &-title {
    margin: 0;

    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 69px;

    text-transform: capitalize;

    color: #ffffff;

    @include max-media($md) {
      font-style: normal;
      font-weight: 900;
      font-size: 32px;
      line-height: 48px;
    }
  }

  &-compare__btn {
    @include max-media($md) {
      bottom: -130px !important;
    }
  }

  &-inner {
    margin: 65px 0 0;
    padding: 0 0 100px;

    @include max-media($md) {
      margin: 30px 0 0;
      padding: 0 0 60px;
    }
  }

  &-form__wrapper {
    margin: 35px 0 0 0;

    @include max-media($md) {
      margin: 20px 0 0 0;
    }
  }

  &-group {
    display: flex;
    align-items: flex-end;

    &__input {
      background: #f9f8f6;
      border: 1px solid transparent;
    }

    &__altnames {
      gap: 10px;
      grid-gap: 10px;

      @include max-media($md) {
        max-width: 282px;
        display: flex;
        flex-direction: column;
      }
    }

    &__names {
      position: relative;

      gap: 10px;

      @include max-media($md) {
        margin: 0 0 35px 0;

        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__date {
      position: relative;

      max-width: 282px;

      gap: 10px;

      @include max-media($md) {
        margin: 0 0 35px 0;
      }

      &::before {
        content: "Date of birth";

        top: -20px;
        position: absolute;

        margin: 0 0 5px 0;

        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;

        z-index: 1;
      }

      input {
        min-width: 55px;
        text-align: center;
      }

      .year {
        min-width: 75px;

        @include max-media($md) {
          min-width: 122px;
        }
      }
    }
  }
}
