.AnalysisTableRow--analysisNameCell {
  padding-left: 2em !important;
  width: 30%;
}

.AnalysisTableRow--analysisTypeCell {
  width: 15%;
}

.AnalysisTableRow--analysisActionCell button {
  margin-right: 1em;
}
