.resultCompareNameTable {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 30px
}

.resultCompareNameTable td {
    padding-left: .572rem
}

.resultCompareNameTable__nameValue {
    width: 30%;
    text-align: center;
}

.resultCompareNameTable__spacer {
    width: 20%;
}