.ContentArea {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
}

.ResultContentOverview {
    margin-left: 30px;
    border-color: black;
    flex-shrink: 0;
    min-width: 15%;
}

.ResultContent {
    margin-right: 50px;
    margin-left: 30px;
    width: 100%;
}

.table--bold {
    font-weight: bold;
}