/* The whole content area (nav + results)*/ 
.ContentArea {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
}

.ResultContentOverview {
    margin-left: 50px;
    border-color: black;
    flex-shrink: 0;
    min-width: 20%;
}

.ResultContent {
    margin-right: 50px;
    margin-left: 30px;
    width: 100%;
}

.ResultPersonalDataContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
}

.ResultPersonalData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 20%;
}

.table--bold {
    font-weight: bold;
}