@import "../styles/variables";
@import "../styles/mixins";

.anal {
  background-size: cover;
  background-color: #d7b267;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.06);
  background-image: url("../images/analBg.png");

  &-compare__btn {
    &.opacity {
      opacity: 0 !important;
      pointer-events: none;
    }

    @include max-media($md) {
      bottom: -35px !important;
    }
  }

  &-input {
    position: relative;

    display: flex;
    min-height: 100vh;
    flex-direction: column;

    & > .header {
      width: 100%;

      top: 0;
      position: absolute;

      @include max-media($md) {
        position: static;
      }
    }

    & > .anal {
      padding: 80px 0 0;

      @include max-media($md) {
        padding: 0 0 0;
      }
    }
  }

  &-btn__back {
    margin: 0 0 15px 0;
    display: inline-block;

    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    line-height: 21px;
    font-style: normal;

    text-transform: capitalize;
  }

  &-title {
    margin: 0;

    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 69px;

    text-transform: capitalize;

    color: #ffffff;

    @include max-media($md) {
      font-style: normal;
      font-weight: 900;
      font-size: 32px;
      line-height: 48px;
    }
  }

  &-date {
    margin: 0;

    font-size: 21px;
    color: #ffffff;
    font-weight: 600;
    line-height: 32px;
    font-style: normal;

    text-transform: capitalize;
  }

  & .aside-btn {
    display: none;
    margin: 40px 0 0 0;

    @include max-media($md) {
      display: block;
      max-width: 290px;
    }
  }

  &-inner {
    margin: 65px 0 0;
    padding: 0 0 100px;

    @include max-media($md) {
      margin: 30px 0 0;
      padding: 0 0 60px;
    }
  }

  &-form__wrapper {
    margin: 35px 0 0 0;

    @include max-media($md) {
      margin: 20px 0 0 0;
    }
  }

  &-group {
    width: fit-content;

    display: flex;
    align-items: flex-end;

    &__date {
      gap: 10px;

      &--bb {
        @include max-media($md) {
          padding: 0 0 30px;
          border-bottom: 1px solid #fff;
        }
      }

      > .input-group {
        > input {
          text-align: center;
        }

        @include max-media($md) {
          min-width: 75px;
        }

        &:last-child {
          input {
            min-width: 75px;

            @include max-media($md) {
              min-width: 100%;
            }
          }
        }
      }
    }

    &__input {
      max-width: 220px;
      background: #f9f8f6;
      border: 1px solid transparent;

      &--mw50 {
        max-width: 50px;

        @include max-media($md) {
          max-width: 75px !important;
        }
      }

      &--mw75 {
        max-width: 75px;
      }

      @include max-media($md) {
        max-width: 100%;
      }
    }

    &__altnames {
      gap: 10px;
      grid-gap: 10px;

      @include max-media($md) {
        max-width: 282px;
        flex-direction: column;
      }
    }

    &__names {
      position: relative;

      gap: 10px;

      @include max-media($md) {
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__dates {
      position: relative;

      display: grid;
      grid-template-columns: repeat(2, 55px) 75px;
      grid-template-rows: 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 0px;

      @include max-media($md) {
        margin: 0 0 35px 0;
      }

      &-text {
        margin: 0 0 5px 0;
        display: inline-block;

        top: -20px;
        position: absolute;

        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
      }

      input {
        min-width: 55px;
        text-align: center;
      }

      .year {
        min-width: 75px;

        @include max-media($md) {
          min-width: 122px;
        }
      }
    }
  }
}
