.modal{
    background-color: rgba(0,0,0,0.75) !important;
}

.noScroll {
    overflow-y: hidden;
}

.modal-body {
    padding-bottom: 0px !important;
}

.modal-header .close {
    margin: 0px !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}