.GroupTableRow--groupNameCell {
  font-weight: bold;
  width: 30%;
}

.GroupTableRow--groupTypeCell {
  width: 15%;
}

.GroupTableRow--groupActionCell button {
  margin-right: 1em;
}

.GroupTableRow--groupActionCell {
  white-space: nowrap !important;
  text-align: right;
}
