.LoadingIndicator {
    text-align: center;
}

.LoadingIndicator__container {
    padding-top: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.LoadingIndicator__text {
    margin-top: 20px;
}