@import "../styles/variables";
@import "../styles/mixins";

.register {
  position: relative;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.06);
    background-size: cover;
    background-color: #d7b267;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url("../images/analBg.png");

    @include max-media($md) {
      background-size: unset;
      background-color: #d7b267;
      background-repeat: repeat;
      background-position: center;
      background-image: url("../images/noise.png");
    }
  }

  &-sidebar {
    display: block;
    padding: 75px 10px 0;

    top: 0;
    left: 0;
    position: fixed;

    width: 100%;
    height: 100vh;
    max-width: 300px;

    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

    overflow: hidden;

    transform: translateX(-100%);
    transition: 0.25s transform ease;

    z-index: 9;

    &.visible {
      transform: translateX(0);
      transition: 0.25s transform ease;
    }
  }

  &-inner {
    padding: 100px 0 150px 0;

    @include max-media($md) {
      padding: 0;
    }
  }

  &-form {
    width: 100%;
    margin: 0 auto;
    max-width: 600px;

    &-elements {
      position: relative;

      @include max-media($md) {
        display: none;
      }

      &::after {
        content: "";

        right: -200px;
        bottom: -110px;
        position: absolute;

        width: 100px;
        height: 100px;

        border-radius: 50px;
        background: white;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid #c4c4c4;
        border-right: 1px solid transparent;

        transform: rotate(135deg);

        z-index: 10;
      }

      &::before {
        content: "";

        left: -200px;
        bottom: -110px;
        position: absolute;

        width: 100px;
        height: 100px;

        border-radius: 50px;
        background: white;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid #c4c4c4;
        border-right: 1px solid transparent;

        transform: rotate(-135deg);

        z-index: 10;
      }
    }

    &-box {
      position: relative;

      margin: 0 auto;
      max-width: 600px;
      padding: 60px 150px;

      border: 1px solid #c4c4c4;

      @include max-media($md) {
        padding: 45px 0;
        border: 1px solid transparent;
      }

      &::after {
        content: "";

        top: -50px;
        right: -50px;
        position: absolute;

        width: 100px;
        height: 100px;

        border-radius: 50px;
        background: white;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid #c4c4c4;
        border-right: 1px solid transparent;

        transform: rotate(45deg);

        z-index: 10;

        @include max-media($md) {
          display: none;
        }
      }

      &::before {
        content: "";
        top: -50px;
        left: -50px;
        position: absolute;

        width: 100px;
        height: 100px;

        border-radius: 50px;
        background: white;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid #c4c4c4;
        border-right: 1px solid transparent;

        transform: rotate(-45deg);

        z-index: 10;

        @include max-media($md) {
          display: none;
        }
      }
    }

    &__header {
      margin: 0 0 50px 0;

      text-align: center;
    }

    &__body {
      margin: 0 auto;
      max-width: 292px;
      padding: 0 0 50px;

      border-bottom: 1px solid rgba(79, 68, 66, 0.3);
    }

    &__input {
      max-height: 50px;

      border: 1px solid rgba(79, 68, 66, 0.3);
    }

    &__checkbox {
      display: none;
      position: relative;

      margin: 0;
      padding: 0;
      width: initial;
      height: initial;

      cursor: pointer;
    }

    &__checklabel {
      display: flex;
      margin: 0 0 35px 0;

      &:before {
        content: "";
        position: relative;
        display: inline-block;

        padding: 10px;
        margin-right: 10px;

        width: 23px;
        height: 23px;

        vertical-align: middle;
        -webkit-appearance: none;

        border-radius: 5px;
        background-color: transparent;
        border: 1px solid rgba(79, 68, 66, 0.3);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
          inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);

        cursor: pointer;
      }

      .register-form__checkbox:checked + &:after {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 9px;
        width: 6px;
        height: 14px;
        border: solid #0079bf;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    &__group {
      margin: 0 0 20px 0;

      & .input-group__message {
        bottom: -18px;
        font-size: 12px;
      }

      & > .input-group > label {
        font-size: 14px;
        font-weight: 700;
        color: #323232;
        line-height: 20px;
        font-style: normal;
      }

      &-agreement {
        padding: 15px 0 0;

        &.error > label::before {
          border: 1px solid red;
        }
      }
    }

    &__submit {
      width: 100%;
      padding: 15px 35px;

      color: #fff;
      font-size: 18px;
      font-weight: 500;
      line-height: 20px;
      font-style: normal;

      border-radius: 5px;
      background: #01b2d4;
      border: 1px solid transparent;

      transition: background 0.25s ease-in-out;

      &:hover {
        background: #01c1e7;
      }

      &:focus {
        outline: none;
        border: 1px solid #006c81;
      }
    }

    &__footer {
      padding: 20px 0 0 0;

      text-align: center;
    }
  }
}

/** css for Checkbox **/

.register-form__group-agreement {
  display: block;
  margin-bottom: 15px;
}

.register-form__group-agreement input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  cursor: pointer;
}

.register-form__group-agreement label {
  position: relative;
  margin: 0 0 35px 0;

  display: flex;
  align-items: flex-start;

  cursor: pointer;
}

.register-form__group-agreement label:before {
  content: "";

  position: relative;

  display: inline-block;
  -webkit-appearance: none;
  padding: 10px;
  margin: 0 10px 0 0;
  vertical-align: middle;

  border-radius: 5px;
  background-color: transparent;
  border: 1px solid rgba(79, 68, 66, 0.3);

  cursor: pointer;
}

.register-form__group-agreement input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.signup-placeholder {
  width: 100%;
  margin: 0 auto;
  max-width: 292px;

  text-align: center;

  &__heading {
    margin: 0 0 50px 0;
  }

  &__text {
    margin: 0 auto 50px;
  }

  &__btn {
    width: 100%;

    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
  }
}
