.tableRow__comparevalue {
    width: 30%;
    text-align: center;
}

.tableRow__comparevalue table {
    margin: auto;
}

.tableRow__detailsCompare {
    text-align: right;
    padding-right: 30px !important;
}

.tableRow__detailsCompare button {
    color: #00b3d4;
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer !important;
}

.tableRow__customCompareRowName {
    width: 20%;
}

.tableRow__customCompareGroup {
    text-align: center;
}

.tableRow__customCompareEntry {
    text-align: center;
}
