.tableRow__name {
    width: 30%;
}

.tableRow__id {
    width: 10%;
}

.tableRow__text {
    width: 40%;
    overflow-wrap: break-word;
}

.tableRow--highlighted {
    /*border-color: #00b3d4;*/
    background-color: #00b3d4;
    color: white;
    opacity: 0.7;
}

.tableRow__matrix {
    width: 20vh !important;
    height: 20vh !important;
    text-align: center;
}

.tableRow__matrix td {
    vertical-align: middle !important;
    width: 33% !important;
}
