.tableRow__name {
    width: 30%;
}

.tableRow__id {
    width: 10%;
}

.tableRow__text {
    width: 20%;
    overflow-wrap: break-word;
}

.tableRow__text button {
    color: #00b3d4;
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer !important;
}

.tableRow--highlighted {
    /*border-color: #00b3d4;*/
    background-color: #00b3d4 !important;
    color: white;
    opacity: 0.7;
}

.tableRow--highlighted a {
    color: white;
}

.tableRow__matrix {
    width: 20vh !important;
    height: 20vh !important;
    text-align: center;
    margin-bottom: 0 !important;
}

.tableRow__matrix td {
    vertical-align: middle !important;
    width: 33% !important;
}