.steps--vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.steps_Connector--vertical {
    top: 30px;
    left: 7px;
    position: absolute; 
    content: " ";
    width: 1px; 
    height: calc(100% - 35px);
    background-color: black;
}

.steps--horizontal {
    display: flex;
    flex-direction: row;
    position: relative;
}

.steps_Connector--horizontal {
    top: 35px;
    position: absolute; 
    content: " ";
    height: 1px; 
    width: calc(100%);
    background-color: black;
}