.Step {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.Step--horizontal {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*Space between horizontal steps*/
.Step--horizontal + .Step--horizontal {
    margin-left: 30px;
}

.Step__Circle {
    border: 2px solid #00b3d4;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-top: 2.5px;
    z-index: 0;
}

.Step__Circle--horizontal {
    border: 2px solid #00b3d4;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-top: 2.5px;
    margin-left: 50%;
    z-index: 0;
    text-align: center;
}

.Step__Circle--current {
    border-width: 3px;
}

.Step__Circle--done {
    background-color: #00b3d4;
}

.Step__StepName {
    margin-left: 20px;
}

.Step__StepName--horizontal {
    margin-top: 10px;
}

.Step__StepName--current {
    font-weight: bold;
}
