.modal-backdrop {
    background-color: rgba(0,0,0,0.75) !important;
}

.TourView__Container {
    display: flex;
    flex-direction: column;
}

.TourView__ContentOverview {
    background-color: white;
    min-height: 5em;
    flex: 0, 0, auto;
    flex-shrink: 0;
    flex-grow: 0;
    padding-bottom: 1em;

    display: flex;
    justify-content: center;
}

.TourView__Content {
    flex: 1, 1, auto;
    margin-top: 40px;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 75%;
}

.TourView__BottomActions {
    flex: 0, 0, auto;
    
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.TourView__Panel {
    height: 100%;
    overflow-y: auto;
    width: 600px;
}

.TourView__Panel .panel-title {
    font-size: 24px !important;
}

.TourView__NavigationButton {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.TourView__NavigationButton i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TourView__ButtonArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.noScroll {
    overflow-y: hidden;
}

.TourView__text {
    line-height: 170%;
    font-size: 16px;

    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    user-select: none;
    color: black;
}

.TourView__text h1 {
    font-size: 24px;
    margin-top: 50px;
}

.TourView__text h1:first-child {
    margin-top: 0px !important;
}

.TourView__text h2 {
    margin-top: 50px !important;
    font-size: 20px;
}

.TourView__text h2:first-child {
    margin-top: 0px !important;
}

.TourView__text h3 {
    line-height: 170%;
    margin-top: 20px !important;
    font-size: 16px;
}

.TourView--printWatermark {
    display: none;
}

/*prevents printing of result information*/
@media print {    
    .TourView--printWatermark {
        display: block;
    }

    .TourView--non-printable, .TourView--non-printable * {
        display: none !important;
    }
}