@import "../../styles/variables";
@import "../../styles/mixins";

.prevanals {
  padding: 30px 0;

  display: grid;
  align-items: center;
  grid-column-gap: 40px;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(100px, 260px) 1fr minmax(100px, 150px);

  border-top: 1px solid #ffffff;

  @include max-media($md) {
    padding: 30px 0 50px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  > p {
    @include max-media($md) {
      margin: 0 0 10px 0;
    }
  }

  &__list {
    padding: 5px 0;

    overflow-x: auto;

    gap: 20px;
    display: flex;
    align-items: center;

    @include max-media($md) {
      width: 100%;
      overflow-x: auto;
      padding: 0 0 10px;
    }
  }

  &-more {
    display: block;

    @include max-media($md) {
      display: none;
    }
  }
}
