@import "../../../styles/variables";
@import "../../../styles/mixins";

.anal-form {
  gap: 20px;
  display: flex;
  flex-direction: column;

  @include max-media($md) {
    gap: 0px;
  }

  &__inner {
    gap: 40px;
    display: flex;
    align-items: flex-start;

    position: relative;

    @include max-media($md) {
      display: block;

      position: unset;

      margin: 0 auto;
      max-width: 282px;
    }
  }

  &__comparenames {
    gap: 40px;
    display: flex;

    @include max-media($md) {
      margin: 20px auto 0;

      gap: 0;
      display: flex;
      max-width: 280px;
      flex-direction: column;
    }

    &--w280 {
      height: 0;
      width: 282px;
    }

    &-names {
      gap: 10px;
      display: flex;
      max-width: 428px;
    }
  }

  &-row {
    display: grid;
    align-items: flex-end;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    grid-template-columns:
      minmax(100px, 260px) minmax(100px, 1fr) minmax(100px, 191px)
      minmax(100px, 165px);

    @include max-media($md) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      grid-row-gap: 0;
    }
  }

  &row + &row {
    gap: 20px;
  }

  &__submit {
    width: 100%;
    max-width: 165px;
    margin: 25px 0 0;

    @include max-media($md) {
      display: none;
      margin: 80px 0 0;

      max-width: 100%;
      position: unset;
    }

    &--mobile {
      display: none;
      max-width: 282px;
      margin: 80px auto 0;

      @include max-media($md) {
        display: block;
      }
    }
  }

  &__group {
    &-wrap {
      position: relative;

      gap: 40px;
      row-gap: 20px;
      display: grid;
      grid-template-columns: minmax(250px, 450px) 1fr;

      @include max-media($md) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
