@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
  padding: 20px 0;
  margin-top: auto;

  background: #363431;

  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include max-media($md) {
      flex-direction: column;
    }
  }

  &-left {
    @include max-media($md) {
      margin: 0 0 20px 0;
    }
  }

  &-right {
    margin: 0;
    gap: 50px;

    display: flex;
    align-items: center;

    list-style: none;

    @include max-media($md) {
      padding: 0;

      gap: 20px;
      flex-direction: column;
    }
  }
}
