.footer {
  padding: 20px 0;
  background: #363431;

  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-right {
    margin: 0;
    gap: 50px;

    display: flex;
    align-items: center;

    list-style: none;
  }
}
