@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  position: sticky;

  padding: 0 15px;

  z-index: 10;

  @include max-media($md) {
    top: 0;

    background-color: #d7b267;
    background-position: center;
    background-image: url("../../images/noise.png");
  }

  &-btns {
    gap: 12px;
    display: flex;
  }

  &--bg {
    background-size: cover;
    background-position: top top;
    background-color: #d7b267;
    background-repeat: no-repeat;
    background-image: url("../../images/analBg.png");
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.06);

    @include max-media($md) {
      background-size: unset;
      background-color: #d7b267;
      background-position: center;
      background-image: url("../../images/noise.png");
    }
  }

  &-inner {
    width: 100%;
    margin: 0 auto;
    padding: 12px 0;
    max-width: 1200px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__plus {
    padding: 12px;

    border-radius: 50%;
    background-color: #01b2d4;
    border: 1px solid transparent;

    &:focus {
      outline: none;
      border: 1px solid #006c81;
    }
  }

  &-left {
    padding: 0;
    width: 100%;

    gap: 100px;
    display: flex;
    align-items: center;

    text-align: center;

    @include max-media($md) {
      padding: 0;
      width: fit-content;
    }

    &__analysis {
      margin: 0 auto;

      gap: 5px;
      display: flex;
      align-items: center;

      @include max-media($md) {
        display: none;
      }
    }
  }

  &-right {
    width: 100%;
    padding: 0 0 0 15px;

    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    text-align: center;

    @include max-media($md) {
      width: fit-content;

      gap: 0;
      padding: 0;
    }

    &__plans {
      text-transform: uppercase !important;

      @include max-media($md) {
        display: none;
      }
    }

    & > .lang-drop {
      @include max-media($md) {
        display: none;
      }
    }

    & .base-btn__login.outlined {
      @include max-media($md) {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;

        border: 1px solid transparent;
      }
    }

    & .base-btn.base-btn__signup {
      @include max-media($md) {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;

        border: 1px solid transparent;
        background-color: transparent;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  &-brand {
    display: block;
    min-width: fit-content;

    width: 56px;
    height: 56px;

    @include max-media($md) {
      display: none;
    }

    &__mobile {
      display: block;

      @include min-media($md) {
        display: none;
      }
    }
  }

  &__info {
    @include max-media($md) {
      display: none;
    }
  }

  &__img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  &__credits {
    gap: 5px;
    display: flex;
    align-items: center;

    &--ml10 {
      margin-left: 10px;
    }
  }
}

.base-btn__login,
.base-btn__signup {
  &.hidden {
    display: none;
  }
}
