@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  position: sticky;

  padding: 0 20px;

  z-index: 10;

  &-inner {
    padding: 12px 0;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-left {
    display: flex;
    align-items: center;
  }

  &-right {
    gap: 12px;
    display: flex;
    align-items: center;

    & > .lang-drop {
      @include max-media($md) {
        display: none;
      }
    }

    & > .base-btn__login.outlined {
      @include max-media($md) {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;

        border: 1px solid transparent;
      }
    }

    & > .base-btn__signup {
      @include max-media($md) {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;

        border: 1px solid transparent;
        background-color: transparent;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  &-brand {
    display: block;

    width: 56px;
    height: 56px;
    margin: 0 100px 0 0;

    @include max-media($md) {
      display: none;
    }

    &__mobile {
      display: block;

      @include min-media($md) {
        display: none;
      }
    }
  }

  &__info {
    margin: 0 0 0 100px;

    @include max-media($md) {
      display: none;
    }
  }

  &__img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.base-btn__login,
.base-btn__signup {
  &.hidden {
    display: none;
  }
}
