@import "../../styles/variables";
@import "../../styles/mixins";

.popuplong {
  &__title {
    margin: 100px 0 50px;

    font-size: 32px;
    color: #323232;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    font-style: normal;

    text-transform: capitalize;

    @include max-media($md) {
      margin: 40px 0 0;

      font-size: 26px;
      font-weight: 700;
      line-height: 39px;
      font-style: normal;
    }
  }
}
